<!DOCTYPE html>
<html>
<head>
    @*===========================Icons=========================================*@
    <link rel="apple-touch-icon" sizes="57x57" href="Images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="Images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="Images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="Images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="Images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="Images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="Images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="Images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="Images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Images/favicon-16x16.png">
    <link rel="manifest" href="Images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="Images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*=========================================================================*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flip S.A</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="@Url.Action("Index", "Home")">
                <img border="0" width="100" alt="Flip" src="~/Images/flipLogoH.jpg" class="img-fluid">
            </a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Nosotros", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content semitransparente">
        @RenderBody()
        <hr />
        <footer>
            <strong>&copy; @DateTime.Now.Year - Flip S.A</strong>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
