
@model FlipWeb.Domain.Reporte
@Styles.Render("~/Content/FlipStyleSheet.css")

@{
    ViewBag.Title = "Cerrar reporte";
}
<p class="text-danger" style="max-width:500px">@TempData["mensaje"]</p>
<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Resolución</h3>

    @Html.TextAreaFor(model => model.Resolucion, new { @id = "areaDeTexto", @class = "form-control"})

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Cerrar" , class="btn btn-success" />
        @Html.ActionLink("Cancelar", "MenuUsuarios", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
    </div>
}
