
@model FlipWeb.Domain.Reporte
@Styles.Render("~/Content/FlipStyleSheet.css")

@{
    ViewBag.Title = "Cerrar reporte";
}
<p class="text-danger" style="max-width:500px">@TempData["mensaje"]</p>
<h1>@ViewBag.Title</h1>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Resolución:</h4>

    @Html.TextAreaFor(model => model.Resolucion, new { @id = "areaDeTexto", @class = "form-control" })

    <div class=" row col-md-offset-2 col-md-10">
        <input type="submit" value="Cerrar" , class="btn btn-success col-md-4 col-sm-12 col-xs-12" />
    </div>
    <div class="row col-md-offset-2 col-md-10">
        <input type="button" value="Cancelar" , class="btn btn-danger col-md-4 col-sm-12 col-xs-12" onclick="location.href='@Url.Action("MenuUsuarios","Home")'" />
    </div>
}
