@model IEnumerable<FlipWeb.Domain.Contacto>

@{
    ViewBag.Title = "Contactados";
}
<h1>Contactados</h1>
<p class="text-danger" style="max-width:400px">@TempData["mensajeError"]</p>
<p class="text-success" style="max-width:400px">@TempData["mensajeOk"]</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOfertaContactada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.Label("Tu calificación:", new { style = "font-weight:bold;" });
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.FechaContacto)*@
                @item.FechaContacto.ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOfertaContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @if (item.Calificacion == 0)
                {
                    @Html.Label("Pendiente")
                }
                else
                {
                    if (item.Calificacion == 0)
                    {
                        @Html.ActionLink("Calificar", "CalificarContacto", new { idContacto = item.ContactoId })

                    }
                    else if (item.Calificacion >= 1 && item.Calificacion < 2)
                    {
                        @Html.Label("★☆☆☆☆");
                    }
                    else if (item.Calificacion >= 2 && item.Calificacion < 3)
                    {
                        @Html.Label("★★☆☆☆");
                    }
                    else if (item.Calificacion >= 3 && item.Calificacion < 4)
                    {
                        @Html.Label("★★★☆☆");
                    }
                    else if (item.Calificacion >= 4 && item.Calificacion < 5)
                    {
                        @Html.Label("★★★★☆");
                    }
                    else if (item.Calificacion >= 5 && item.Calificacion < 6)
                    {
                        @Html.Label("★★★★★");
                    }
                    else
                    {
                        @Html.Label("Error");
                    }
                }
            </td>
            <td>
                @if (item.Comentario == null || item.Comentario == "")
                {
                    @Html.Label("Sin comentario")
                }
                else
                {
                    <div style="width:300px">
                        @Html.DisplayFor(modelItem => item.Comentario)
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink("Datos de contacto", "DatosOfertante", new { idOferta = item.IdOfertaContactada }) |
                @Html.ActionLink("Oferta", "DetallesOfertaGeneral", new { idOferta = item.IdOfertaContactada })
            </td>
        </tr>
    }

</table>

<input class="btn btn-success" type='button' onclick='history.back();' value='Volver' />