@model FlipWeb.Domain.OfertaCarga
@Styles.Render("~/Content/FlipStyleSheet.css")

@{
    ViewBag.Title = "DetailsOfertaCargaUser";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<p class="text-danger" style="max-width:500px">@TempData["mensaje"]</p>
<p class="text-success" style="max-width:400px">@TempData["mensajeOk"]</p>
<h4>Oferta de carga</h4>

<div>
    <div class="fondoImagen">
        <img class="img-fluid" id="imagen" src="@Url.Action("getImageOfertaCarga", "Home", new { id = Model.OfertaId })" />
    </div>
    <hr />
    <div class="row">
        <section class="col-md-12">
            <h5>Detalles</h5>
            @Html.DisplayFor(model => model.Detalles)
        </section>
    </div>
    <hr />
    <div class="row">
        <section class=" col-md-4 text-md-right col-sm-12 text-sm-left ">
            <h5>Origen</h5>

            @Html.DisplayFor(model => model.DireccionPartida)<br />
            @Html.DisplayFor(model => model.CiudadPartida)<br />
            @Html.DisplayFor(model => model.PaisPartida)<br />

        </section>
        <section class=" col-md-4 ">
            <img class=" d-md-flex d-sm-none d-none" src="~/Images/lineas.png" width="350" height="70" alt="imgf" />

        </section>
        <section class=" col-md-4 text-md-left col-sm-12 text-sm-left">
            <h5>Destino</h5>
            @Html.DisplayFor(model => model.DireccionDestino)<br />
            @Html.DisplayFor(model => model.CiudadDestino)<br />
            @Html.DisplayFor(model => model.PaisDestino)

        </section>
    </div>
    <hr />

    <div class="row">
        <section class="col-md-4 text-md-right col-sm-12 text-sm-left ">
            <h5>Fecha</h5>
            @Html.DisplayFor(model => model.FechaOferta)
        </section>
        <section class="col-md-4 text-md-right col-sm-12 text-sm-left ">
        </section>
        <section class="col-md-4 text-md-left col-sm-12 text-sm-left ">
            <h5>Requiere exclusividad</h5>
            @Html.DisplayFor(model => model.RequiereExclusividad)
        </section>
    </div>
    <hr />
    <div>
        <h5>Descripción</h5>
        @Html.DisplayFor(model => model.DescripcionMercaderia)
    </div>
    <hr />
    @{
        double Rep = Model.ReputacionOfertante;
        if (Rep < 1)
        {
            <div style="font-weight:bold">
                @(new HtmlString("Reputación: ★El Ofertante aún no ha generado reputación."))
            </div>
            <br />
            @Html.Label("☆☆☆☆☆");
        }
        else if (Rep > 1 && Rep < 2)
        {
            @Html.Label("Reputación: ★", new { style = "font-weight:bold;" });
            @Rep
            <br />
            @Html.Label("★☆☆☆☆");
        }
        else if (Rep > 2 && Rep < 3)
        {
            @Html.Label("Reputación: ★", new { style = "font-weight:bold;" });
            @Rep
            <br />
            @Html.Label("★★☆☆☆");
        }
        else if (Rep > 3 && Rep < 4)
        {
            @Html.Label("Reputación: ★", new { style = "font-weight:bold;" });
            @Rep
            <br />
            @Html.Label("★★★☆☆");
        }
        else if (Rep > 4 && Rep < 4.70)
        {
            @Html.Label("Reputación: ★", new { style = "font-weight:bold;" });
            @Rep
            <br />
            @Html.Label("★★★★☆");
        }
        else if (Rep > 4.70 && Rep < 5.10)
        {
            @Html.Label("Reputación: ★", new { style = "font-weight:bold;" });
            @Rep
            <br />
            @Html.Label("★★★★★");
        }
        else
        {
            @Html.Label("Error, por favor comunicarse para más información.");
        }
        <br />
        @Html.Label("Últimos comentarios de contactos:", new { style = "font-weight:bold;" });
        <hr />

        if (Model.UltimosComentarios != null && Model.UltimosComentarios.Count() > 0)
        {
            foreach (var comentario in Model.UltimosComentarios)
            {
                <div style="color: dimgray; font-style:italic">
                    @(new HtmlString("\"" + comentario + "\""))
                </div>
                <hr />
            }
        }
        else
        {
            <div style="color: dimgray; font-style:italic">
                @(new HtmlString("Sin comentarios."))
            </div>
            <hr />
        }

    }
</div>
<div class="contacto">
    @Html.ActionLink("Contactar", "CreateContacto", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-success col-md-4 col-sm-12 col-xs-12", @role = "button" })
    @Html.ActionLink("Denunciar oferta", "DenunciarOferta", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-success col-md-4 col-sm-12 col-xs-12", @role = "button" })

</div>
