@model FlipWeb.Domain.OfertaCarga
@Styles.Render("~/Content/FlipStyleSheet.css")

@{
    ViewBag.Title = "Detalles oferta Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (Model.ofertaReportada())
{<h3>Oferta DADA DE BAJA</h3>}

<p class="text-success" style="max-width:400px">@TempData["mensajeOk"]</p>
<h4>Oferta de carga</h4>

<div>
    <div class="fondoImagen">
        <img class="img-fluid" id="imagen" src="@Url.Action("getImageOfertaCarga","Home", new { id= Model.OfertaId})" />
    </div>
    <hr />
    <div>
        <h5> Código de Oferta </h5> # @Html.DisplayFor(model => model.OfertaId)
    </div>
    <hr />
    <div class="row">
        <section class="col-md-12">
            <h5>Detalles</h5>
            @Html.DisplayFor(model => model.Detalles)
        </section>
    </div>
    <hr />
    <div class="row">
        <section class=" col-md-4 text-md-right col-sm-12 text-sm-left ">
            <h5>Origen</h5>

            @Html.DisplayFor(model => model.DireccionPartida)<br />
            @Html.DisplayFor(model => model.CiudadPartida)<br />
            @Html.DisplayFor(model => model.PaisPartida)<br />

        </section>
        <section class=" col-md-4 text-center">
            
            <img id="imgLineas" class="d-md-flex d-sm-none d-none" src="~/Images/camiondibujo2.png" alt="imgf" />

        </section>
        <section class=" col-md-4 text-md-left col-sm-12 text-sm-left">
            <h5>Destino</h5>
            @Html.DisplayFor(model => model.DireccionDestino)<br />
            @Html.DisplayFor(model => model.CiudadDestino)<br />
            @Html.DisplayFor(model => model.PaisDestino)

        </section>
    </div>
    <hr />

    <div class="row">
        <section class="col-md-4 text-md-right col-sm-12 text-sm-left ">
            <h5>Fecha</h5>
            @Html.DisplayFor(model => model.FechaOferta)
        </section>
        <section class="col-md-4 text-md-right col-sm-12 text-sm-left ">
        </section>
        <section class="col-md-4 text-md-left col-sm-12 text-sm-left ">
            <h5>Requiere exclusividad</h5>
            @*@Html.DisplayFor(model => model.RequiereExclusividad)*@
            @if (Model.RequiereExclusividad == true)
            {
                @Html.Label("SI");
            }
            else
            {
                @Html.Label("NO");
            }
        </section>
    </div>
    <hr />
    <div>
        <h5>Descripción</h5>
        @Html.DisplayFor(model => model.DescripcionMercaderia)
    </div>
    <hr />
</div>

@{
    double Rep = Model.ReputacionOfertante();
    if (Rep < 1)
    {
        <div style="font-weight:bold">
            @(new HtmlString("Reputación: ★El Ofertante aún no ha generado reputación."))
        </div>
        <br />
        @Html.Label("☆☆☆☆☆");
    }
    else if (Rep >= 1 && Rep < 2)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★☆☆☆☆");
    }
    else if (Rep >= 2 && Rep < 3)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★☆☆☆");
    }
    else if (Rep >= 3 && Rep < 4)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★★☆☆");
    }
    else if (Rep >= 4 && Rep < 4.70)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★★★☆");
    }
    else if (Rep > 4.70 && Rep < 5.50)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★★★★");
    }
    else
    {
        @Html.Label("Error, por favor comunicarse para más información.");
    }
    <br />
    @Html.Label("Últimos comentarios de contactos:", new { style = "font-weight:bold;" });
    <hr />
    List<String> U5CO = Model.Ultimos5ComentariosDeContactosOfertante();
    if (U5CO != null && U5CO.Count() > 0)
    {
        foreach (var comentario in U5CO)
        {
            <div style="color: dimgray; font-style:italic">
                @(new HtmlString("\"" + comentario + "\""))
            </div>
            <hr />
        }
    }
    else
    {
        <div style="color: dimgray; font-style:italic">
            @(new HtmlString("Sin comentarios."))
        </div>
        <hr />
    }

}
<div class="contacto">
    @if (Model.ofertaReportada())
    {<h3>Oferta DADA DE BAJA</h3>
        if (Model.FechaOferta.Date >= DateTime.Now.Date)
        {
            @Html.ActionLink("Reactivar oferta", "ReActivarOferta", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-success col-md-4 col-sm-12 col-xs-12", @role = "button" })
        }
    }
    else
    {
        if (Model.FechaOferta.Date < DateTime.Now.Date)
        {
            <h3>Oferta FINALIZADA</h3>
        }
        else
        {
            @Html.ActionLink("Dar de baja", "DarDeBajaOferta", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-danger col-md-4 col-sm-12 col-xs-12", @role = "button" })

        }

    }
    @Html.ActionLink("Ver ofertante", "DetailsUsers", "Home", routeValues: new { id = Model.OfertanteId }, htmlAttributes: new { @class = "btn btn-success col-md-4 col-sm-12 col-xs-12", @role = "button" })
    @Html.ActionLink("Volver al menu de Clientes", "MenuUsuarios", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-success col-md-4 col-sm-12 col-xs-12", @role = "button" })
    @Html.ActionLink("Volver al menu de Administradores", "MenuAdmins", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-success col-md-4 col-sm-12 col-xs-12", @role = "button" })
</div>