@model FlipWeb.Domain.OfertaTransporte
@Styles.Render("~/Content/FlipStyleSheet.css")
@{
    ViewBag.Title = "DetailsOfertaTransporteUser";
}
@if (Model.ofertaReportada())
{<h3>Oferta DADA DE BAJA</h3>}
<p class="text-danger" style="max-width:500px">@TempData["mensaje"]</p>
<p class="text-success" style="max-width:400px">@TempData["mensajeOk"]</p>
<h4>Oferta de Transporte</h4>
<div class="fondoImagen">
    <img class="img-fluid" id="imagen" src="@Url.Action("getImageOfertaTransporte","Home", new { id= Model.OfertaId})" />
</div>
<div>
    <hr />
    <div>
        <h5> Precio </h5> $ @Html.DisplayFor(model => model.Costo)
    </div>
    <hr />
    <div class="row">
        <section class=" col-md-4 text-md-right col-sm-12 text-sm-left  ">
            <h5>Origen</h5>

            @Html.DisplayFor(model => model.DireccionPartida)<br />
            @Html.DisplayFor(model => model.CiudadPartida)<br />
            @Html.DisplayFor(model => model.PaisPartida)<br />

        </section>
        <section class=" col-md-4 ">
            <img class=" d-md-flex d-sm-none d-none" src="~/Images/lineas.png" width="350" height="70" alt="imgf" />

        </section>
        <section class=" col-md-4 text-md-left col-sm-12 text-sm-left">
            <h5>Destino</h5>
            @Html.DisplayFor(model => model.DireccionDestino)<br />
            @Html.DisplayFor(model => model.CiudadDestino)<br />
            @Html.DisplayFor(model => model.PaisDestino)

        </section>
    </div>
    <hr />
    <div class="row">
        <section class=" col-md-4">
            <h5>Fecha oferta</h5>
            @Html.DisplayFor(model => model.FechaOferta)<br />
        </section>
        <section class="col-md-4">
            <h5>ITV</h5>
            @Html.DisplayFor(model => model.ITV)
        </section>
        <section class="col-md-4">
            <h5>Habilitación Bromatologica</h5>
            @Html.DisplayFor(model => model.HabilitacionBromatologica)
        </section>
    </div>
    <hr />
    <div class="row">
        <section class=" col-md-4">
            <h5>Tipo de caja</h5>
            @Html.DisplayFor(model => model.TipoCaja)
        </section>
        <section class=" col-md-4">
            <h5>Tipo de camion</h5>
            @Html.DisplayFor(model => model.TipoCamion)
        </section>
        <section class=" col-md-4">
            <h5>Medidas de caja</h5>
            @Html.DisplayFor(model => model.MedidasCaja)

        </section>
    </div>
    <hr />

    <div class="col-md-12">
        <h5>Detalles</h5>
        @Html.DisplayFor(model => model.Detalles)
    </div>
</div>
<hr />

@{
    double Rep = Model.ReputacionOfertante();
    if (Rep < 1)
    {
        <div style="font-weight:bold">
            @(new HtmlString("Reputación: ★El Ofertante aún no ha generado reputación."))
        </div>
        <br />
        @Html.Label("☆☆☆☆☆");
    }
    else if (Rep >= 1 && Rep < 2)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★☆☆☆☆");
    }
    else if (Rep >= 2 && Rep < 3)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★☆☆☆");
    }
    else if (Rep >= 3 && Rep < 4)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★★☆☆");
    }
    else if (Rep >= 4 && Rep < 4.70)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★★★☆");
    }
    else if (Rep > 4.70 && Rep < 5.50)
    {
        @Html.Label("Reputación de Ofertante: ★", new { style = "font-weight:bold;" });
        @Rep
        <br />
        @Html.Label("★★★★★");
    }
    else
    {
        @Html.Label("Error, por favor comunicarse para más información.");
    }
    <br />
    @Html.Label("Últimos comentarios de contactos:", new { style = "font-weight:bold;" });
    <hr />
    List<String> U5CO = Model.Ultimos5ComentariosDeContactosOfertante();
    if (U5CO != null && U5CO.Count() > 0)
    {
        foreach (var comentario in U5CO)
        {
            <div style="color: dimgray; font-style:italic">
                @(new HtmlString("\"" + comentario + "\""))
            </div>
            <hr />
        }
    }
    else
    {
        <div style="color: dimgray; font-style:italic">
            @(new HtmlString("Sin comentarios."))
        </div>
        <hr />
    }

}

@if (Model.ofertaReportada())
{<h3>Oferta DADA DE BAJA</h3>
    @Html.ActionLink("Re-activar", "", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-danger col-md-4 col-sm-12 col-xs-12", @role = "button" })
}
else
{
    <div class="contacto">
        @Html.ActionLink("Dar de baja", "DarDeBajaOferta", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-danger col-md-4 col-sm-12 col-xs-12", @role = "button" })

    </div>
}