@model FlipWeb.Domain.OfertaTransporte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OfertaTransporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidasCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidasCaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCamion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCamion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HabilitacionBromatologica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HabilitacionBromatologica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver al menú", "MenuUsuarios", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    @Html.ActionLink("Contactar", "CreateContacto", "Home", routeValues: new { idOferta = Model.OfertaId }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>