@model FlipWeb.Models.MenuUsuariosViewModel
@Styles.Render("~/Content/FlipStyleSheet.css")

@{
    ViewBag.Title = "Inicio";
}

<div class="">
    <h1>Ofertas recientes</h1>
    <hr />
    @if (Model.ListadoOfertasCarga != null)
    {
        <h3>Ofertas de Carga ( @Html.ActionLink("Ver más", "ListarOfertasCarga") )</h3>
        <hr />
        <div class="containerCard">
            @foreach (var item in Model.ListadoOfertasCarga)
            {
                <a class="text-decoration-none" href="@Url.Action("Login", "Account")">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Action("getImageOfertaCarga", "Home", new { id = item.OfertaId })" />
                        <div class="encabezado">
                            <h5>@Html.DisplayFor(modelItem => item.CiudadPartida) - @Html.DisplayFor(modelItem => item.CiudadDestino)</h5>

                            <p><strong>@Html.DisplayFor(modelItem => item.PaisPartida) - @Html.DisplayFor(modelItem => item.PaisDestino)</strong></p>

                            <p> <strong>Fecha: </strong>@Html.DisplayFor(modelItem => item.FechaOferta)</p>
                            @if (item.RequiereExclusividad == true)
                            {
                                <p><strong>Requiere exclusividad:</strong> Si</p>
                            }
                            else
                            {
                                <p><strong>Requiere exclusividad:</strong> No</p>
                            }
                        </div>
                        <div class="card-footer">
                            <p class="card-footerText">Código de oferta: @Html.DisplayFor(modelItem => item.OfertaId)</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
    <hr />
    @if (Model.ListadoOfertasTransporte != null)
    {
        <h3>Ofertas de Transporte ( @Html.ActionLink("Ver más", "ListarOfertasTransporte") )</h3>
        <hr />
        <div class="containerCard">
            @foreach (var item in Model.ListadoOfertasTransporte)
            {
                <a class="text-decoration-none " href="@Url.Action("Login", "Account")">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Action("getImageOfertaTransporte", "Home", new { id = item.OfertaId })" />
                        <div class="encabezado">
                            <h5>@Html.DisplayFor(modelItem => item.CiudadPartida) - @Html.DisplayFor(modelItem => item.CiudadDestino)</h5>

                            <p><strong>@Html.DisplayFor(modelItem => item.PaisPartida) - @Html.DisplayFor(modelItem => item.PaisDestino)</strong></p>

                            <p> <strong>Fecha: </strong>@Html.DisplayFor(modelItem => item.FechaOferta)</p>

                            <p> <strong>Camión: </strong>@Html.DisplayFor(modelItem => item.TipoCamion)     <strong>Caja:</strong> @Html.DisplayFor(modelItem => item.TipoCaja) </p>
                        </div>

                        <div class="card-footer">
                            <p class="card-footerText">Código de oferta: @Html.DisplayFor(modelItem => item.OfertaId)</p>
                        </div>

                    </div>
                </a>
            }
        </div>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Novedades</h2>
        <p>
            ¡Ya puedes registrarte y comenzar a ver los detalles de las ofertas publicadas así como ofrecer las tuyas propias!
        </p>
        @Html.ActionLink("Registrarme", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-outline", @role = "button" })
    </div>
    <div class="col-md-4">
        <h2>Novedades</h2>
        <p>
            Estamos trabajando para mejorar tu experiencia, si tienes alguna sugerencia, te agradecemos ponerte en contacto con nosotros.
        </p>
        @Html.ActionLink("Contacto", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-outline", @role = "button" })
    </div>
    <div class="col-md-4">
        <h2>Noticias</h2>
        <p>El gobierno nacional pondrá énfasis en la recuperación de las rutas del norte del país, para generar más oportunidades de crecimiento en esa región.</p>
        <p><a class="btn btn-success btn-outline" href="http://www.mtop.gub.uy/-/se-hara-hincapie-en-la-rehabilitacion-de-las-rutas-del-nor-1?p_p_state=maximized">Leer noticia &raquo;</a></p>
    </div>
</div>