@model FlipWeb.Models.MenuUsuariosViewModel
@Styles.Render("~/Content/FlipStyleSheet.css")
@{
    ViewBag.Title = "Menu administradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/FlipJS.js"></script>

<div>
    @{
        List<SelectListItem> tiposDeOferta = new List<SelectListItem>();
        tiposDeOferta.Add(new SelectListItem
        {
            Text = "Todas",
            Value = "todasLasOfertas"

        });
        tiposDeOferta.Add(new SelectListItem
        {
            Text = "Oferta de carga",
            Value = "ofertaCarga"

        });
        tiposDeOferta.Add(new SelectListItem
        {
            Text = "Oferta de transporte",
            Value = "ofertaTransporte"

        });
    }
    @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
        {
            Text = "Seleccionar pais",
            Value = "",
            Selected = true
        });
        listItems.Add(new SelectListItem
        {
            Text = "Uruguay",
            Value = "Uruguay",

        });
        listItems.Add(new SelectListItem
        {
            Text = "Argentina",
            Value = "Argentina"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Brasil",
            Value = "Brasil"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Chile",
            Value = "Chile"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Paraguay",
            Value = "Paraguay"
        });

    }

    <p class="text-danger" style="max-width:500px">@TempData["errorBusqueda"]</p>
    <p class="text-danger" style="max-width:500px">@TempData["errorFiltros"]</p>

    <div class="row">
        <section class="col-md-6">
            <h5>Búsqueda de ofertas</h5>
            @using (Html.BeginForm("BusquedaRapidaOferta", "Home", FormMethod.Post))
            {
                @Html.TextBox("idOferta", "", new { @placeholder = "Ingrese el código de oferta...", @class = "form-control" })
                <button type="submit" class="btn btn-success">Búsqueda rápida</button>
                @Html.ActionLink("Descargar manual de usuario Administrador", "DescargaManualUsuarioAdmin", "Home")
            }
        </section>
        <section class="col-md-6  text-md-right ">
            <input type="button" class="btn btn-light btn-lg font-weight-bolder " onclick="busquedaAvanzada()" value="Busqueda Avanzada" />
        </section>
    </div>


    <div id="divBusquedaAvanzada" style="display:none">

        @using (Html.BeginForm("BusquedaOfertaConFiltros", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <h3>Busqueda avanzada</h3>
            <div class=" form-inline align-items-start">
                <div class="mr-3">
                    <h5>Tipo de oferta</h5>
                    <hr />
                    @Html.LabelFor(model => model.TipoOferta, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.TipoOferta, tiposDeOferta, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="mr-3 text-center">
                    <h5>Origen</h5>
                    <hr />
                    @Html.LabelFor(model => model.PaisPartida, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.PaisPartida, listItems, htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.CiudadPartida, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CiudadPartida, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="mr-3 text-center">
                    <h5>Destino</h5>
                    <hr />
                    @Html.LabelFor(model => model.PaisDestino, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.PaisDestino, listItems, htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.CiudadDestino, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CiudadDestino, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="mr-3">
                    <h5>Fechas</h5>
                    <hr />
                    @Html.LabelFor(model => model.FechaDesde, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.FechaHasta, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div>
                    <h5>Camion</h5>
                    <hr />
                    @Html.LabelFor(model => model.TipoCamion, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TipoCamion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.TipoCaja, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TipoCaja, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-inline">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>

        }
    </div>
    <hr />
    @if (Model.ListadoOfertasCarga.Count == 0)
    {<h3>Ofertas de Carga</h3>
        <div style="color: dimgray; font-style:italic">
            <h4>
                @(new HtmlString("No existen ofertas de carga activas por el momento."))
            </h4>
        </div>
    }
    else
    {

        if (Model.ListadoOfertasCarga != null)
        {
            <h3>Ofertas de Carga ( @Html.ActionLink("Ver más", "ListarOfertasCarga") )</h3>
            <div class="containerCard">
                @foreach (var item in Model.ListadoOfertasCarga)
                {

                    <a class="text-decoration-none" href="@Url.Action("DetallesOfertaCargaAdministrador", "Home", new { id = item.OfertaId })">
                        <div class="card">
                            <img class="card-img-top" src="@Url.Action("getImageOfertaCarga", "Home", new { id = item.OfertaId })" />

                            <div class="encabezado">
                                <h5>@Html.DisplayFor(modelItem => item.CiudadPartida) - @Html.DisplayFor(modelItem => item.CiudadDestino)</h5>

                                <p><strong>@Html.DisplayFor(modelItem => item.PaisPartida) - @Html.DisplayFor(modelItem => item.PaisDestino)</strong></p>

                                <p> <strong>Fecha: </strong>@Html.DisplayFor(modelItem => item.FechaOferta)</p>
                                @if (item.RequiereExclusividad == true)
                                {
                                    <p><strong>Requiere exclusividad:</strong> Si</p>
                                }
                                else
                                {
                                    <p><strong>Requiere exclusividad:</strong> No</p>
                                }
                            </div>
                            <div class="card-footer">
                                <p class="card-footerText">Código de oferta: #@Html.DisplayFor(modelItem => item.OfertaId)</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    }
    @if (Model.ListadoOfertasTransporte.Count == 0)
    {<h3>Ofertas de Transporte</h3>

        <div style="color: dimgray; font-style:italic">
            <h4>
                @(new HtmlString("No existen ofertas de transporte activas por el momento."))
            </h4>
        </div>
    }
    else
    {
        if (Model.ListadoOfertasTransporte != null)
        {
            <h3>Ofertas de Transporte ( @Html.ActionLink("Ver más", "ListarOfertasTransporte") )</h3>
            <div class="containerCard">
                @foreach (var item in Model.ListadoOfertasTransporte)
                {
                    <a class="text-decoration-none " href="@Url.Action("DetallesOfertaTransporteAdministrador", "Home", new { id = item.OfertaId })">
                        <div class="card">
                            <img class="card-img-top" src="@Url.Action("getImageOfertaTransporte", "Home", new { id = item.OfertaId })" />
                            <div class="encabezado">
                                <h5>@Html.DisplayFor(modelItem => item.CiudadPartida) - @Html.DisplayFor(modelItem => item.CiudadDestino)</h5>

                                <p><strong>@Html.DisplayFor(modelItem => item.PaisPartida) - @Html.DisplayFor(modelItem => item.PaisDestino)</strong></p>

                                <p> <strong>Fecha: </strong>@Html.DisplayFor(modelItem => item.FechaOferta)</p>

                                <p> <strong>Camión: </strong>@Html.DisplayFor(modelItem => item.TipoCamion)     <strong>Caja:</strong> @Html.DisplayFor(modelItem => item.TipoCaja) </p>
                            </div>

                            <div class="card-footer">
                                <p class="card-footerText">Código de oferta: #@Html.DisplayFor(modelItem => item.OfertaId)</p>
                            </div>

                        </div>
                    </a>
                }
            </div>
        }
    }
        <div class="row">
            @Html.ActionLink("Gestionar usuarios", "UsersList", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success col-md-3 col-sm-12 col-xs-12", @role = "button" })
            @Html.ActionLink("Ver Ofertas reportadas", "ReportadosLista", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success col-md-3 col-sm-12 col-xs-12", @role = "button" })
            @Html.ActionLink("Historial de ofertas", "HistorialAdministrador", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success col-md-3 col-sm-12 col-xs-12", @role = "button" })
            @Html.ActionLink("Ver Menu de Clientes", "MenuUsuarios", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success col-md-3 col-sm-12 col-xs-12", @role = "button" })

        </div>
    </div>
