@model FlipWeb.Models.ReporteViewModel

@{
    ViewBag.Title = "Reportes";
}
<script type="text/javascript" src="~/Scripts/FlipJS.js"></script>
<h1>@ViewBag.Title</h1>
<hr />

<h3>Reportes abiertos</h3>
<hr />
@if (Model.ListadoReportesAbiertos.Count == 0)
{
    <div style="color: dimgray; font-style:italic">
        <h4>
            @(new HtmlString("No hay reportes abiertos."))
        </h4>
    </div>
}
else
{
    <table class="table-responsive table-hover" >
        <tr>
            <th class="text-center">
                Fecha
            </th>
            <th class="text-center">
                Motivo
            </th>
            <th class="text-center">
                Detalle
            </th>
            <th class="text-center">
                Denunciante
            </th>
            <th class="text-center">
                Denunciado
            </th>

        </tr>

        @foreach (var item in Model.ListadoReportesAbiertos)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.ActionLink(item.CorreoDenunciante, "DetailsUsers", new { id = item.DeuncianteId })
                </td>
                <td>
                    @Html.ActionLink(item.CorreoDenunciado, "DetailsUsers", new { id = item.DenunciadoId })
                </td>

                <td class="text-center">
                    <div class="btn-group">
                        @Html.ActionLink("Ver oferta", "VerOfertaAdministrador", new { idOferta = item.ofertaDenunciadaId }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
                        @Html.ActionLink("Cerrar reporte", "CerrarReporte", new { idReporte = item.ReporteId }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
                    </div>
                </td>
            </tr>

        }

    </table>
}
<hr />
<input type="button" class="btn btn-light font-weight-bolder " onclick="reportesCerrados()" value="Ver reportes cerrados" />

@if (Model.ListadoReportesCerrados.Count == 0)
{
    <div style="color: dimgray; font-style:italic">
        <h4>
            @(new HtmlString("No hay reportes cerrados."))
        </h4>
    </div>
}
else
{
    <p class="text-danger" style="max-width:500px">@TempData["errorFecha"]</p>

    <div id="divReportesCerrados" style="display:none">
        <h2>Reportes cerrados</h2>
        @using (Html.BeginForm("BuscarReporte", "Home", FormMethod.Post))
        {
            <h5>Buscar reporte </h5>
            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
            <button type="submit" class="btn btn-success">Búscar</button>
        }
        <table class="table-responsive table-hover">
            <tr>
                <th class="text-center">
                    Fecha
                </th>
                <th class="text-center">
                    Motivo
                </th>
                <th class="text-center">
                    Detalle
                </th>
                <th class="text-center">
                    Denunciante
                </th>
                <th class="text-center">
                    Denunciado
                </th>
                <th class="text-center">
                    Resolución
                </th>
            </tr>

            @foreach (var item in Model.ListadoReportesCerrados)
            {

                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Motivo)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>
                    <td>
                        @Html.ActionLink(item.CorreoDenunciante, "DetailsUsers", new { id = item.DeuncianteId })

                    </td>
                    <td>
                        @Html.ActionLink(item.CorreoDenunciado, "DetailsUsers", new { id = item.DenunciadoId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resolucion)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Ver oferta", "VerOfertaAdministrador", new { idOferta = item.ofertaDenunciadaId }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
                    </td>
                </tr>

            }

        </table>
    </div>
}
<hr />
@Html.ActionLink("Volver", "MenuAdmins", "Home")