
@model IEnumerable<FlipWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "UsersList";
}

<h2>Lista de usuarios</h2>

@using (Html.BeginForm("UsersList", "Home", FormMethod.Post))
{
    <div>
        @Html.TextBox("email", "", new { @placeholder = "Email", @class = "form-control" })
        <button type="submit"  class="btn btn-success">Buscar</button>
    </div>
}


 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            Rol
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.RolString)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetailsUsers", new { id = item.Id }) <br>
                @if(item.LockoutEndDateUtc > DateTime.Now)
                {@Html.ActionLink("Desbloquear usuario", "DesbloquearUsuario", new { idUsuario = item.Id })}

                @if (item.RolString == "Cliente" && (item.LockoutEndDateUtc < DateTime.Now || item.LockoutEndDateUtc == null))
                {@Html.ActionLink("Asignar rol Administrador", "AssignRoleAdministrador", new { id = item.Id })}
                @if (item.RolString == "Administrador" && (item.LockoutEndDateUtc < DateTime.Now || item.LockoutEndDateUtc == null))
                {@Html.ActionLink("Asignar rol Cliente", "AssignRoleCliente", new { id = item.Id })}
            </td>
        </tr>
    }

</table>
